.titletop {
text-align: center;
background-color: darkblue;
padding: 5px;
}
h1 {
  color: black;
}
.info {
text-align: left;
font-family: sans-serif;
font-size: 20px;
}
ul {
font-size: 18px;
font-family: sans-serif;
}
#AJ1 {
width: 40%;
}
.img {
width: 10%;
}
table{
  border: 2px solid black;
  text-align: center;
  margin: 2%;
}
th, td {
  border: 1px solid black;
}
