$color: black;
@media (min-width: 1000px){
    body {
      background-color: cadetblue;
    }
    }
@media (max-width: 999px){
    body {
      background-color:grey;
    }
    }
.titletop {
    background-color: darkblue;
    padding: 5px;
    h1 {
        text-align: center;
        color: $color;
        }
    }
    .info-basic {
    font-family: sans-serif;
    font-size: 20px;
    }
    .info {
    @extend .info-basic;
    text-align: left;
    }
    .col-info {
    @extend .info-basic;
    text-align: center;
    }
    ul {
    font-size: 18px;
    font-family: sans-serif;
    }
    #AJ1 {
    width: 40%;
    }
    .img {
    width: 10%;
    }
    table{
      border: 2px solid $color;
      text-align: center;
      margin: 2%;
    }
    th, td {
      border: 1px solid $color;
    }
    .col-sm{
      text-align: center;
    }
    